body {
    background-color: beige;
    text-align: center;
}

.line {
    fill: none;
    stroke: lightblue;
    stroke-width: 3;
}
.line:hover {
    transition: all ease .4s;
    stroke-width: 8;
    stroke: lightgreen;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
}

.dot {
    fill: blue;
    stroke: rgb(100, 135, 146);
}
.dot:hover {
    transition: all ease .4s;
    fill: green;
    -webkit-transition: all ease .4s;
    -moz-transition: all ease .4s;
    -ms-transition: all ease .4s;
    -o-transition: all ease .4s;
}

.tooltip {
    position: absolute;
    text-align: center;
    padding: .5rem;
    background: #FFFFFF;
    color: #313639;
    border: 1px solid #313639;
    border-radius: 8px;
    pointer-events: none;
    font-size: 1.3rem;
}