@import url("https://fonts.googleapis.com/css2?family=Asap:wght@400;500;700&display=swap")

$primary: #006D77
$secondary: #EDF6F9
$gradient: #FFF0EB
$special: #E29578
$borderWidth: 3px
$text: #313131
$radius: 10px
$textSize: 1.3rem

body
    display: flex
    flex-direction: column
    margin: 0
    padding: 0
    height: 100vh
    align-items: center
    font-family: Asap, sans-serif
    background: linear-gradient(45deg, $secondary 0%, $gradient 100%)

circle
    fill: $primary
    // stroke-width: $borderWidth
    cursor: pointer

.rootCircle
    stroke-width: $borderWidth

.node--leaf
    stroke-width: $borderWidth/2

#main
    cursor: default

.tooltip
    position: absolute
    text-align: center
    padding: .5em
    background: $secondary
    color: $text
    border-radius: $radius
    font-size: $textSize
    user-select: none
    box-shadow: 5px 5px 10px 1px rgba(0,0,0,0.2)
    pointer-events: none

title
    color: $text
    font-size: $textSize

// .leaf
//     cursor: pointer

.label
    pointer-events: none

.continent
    font-weight: 800

.node
    &:hover
        stroke: white
        stroke-opacity: 1

.node--leaf 
    pointer-events: none

text
    font-size: 1.5rem
    font-weight: 700
    text-anchor: middle
    &.nodex
        font-weight: 300
        font-size: .4rem